@model IEnumerable<Practical_12_Test_3.Models.EmployeeJoin>

@{
	ViewBag.Title = "Show Data through View";
}

@Html.ActionLink("Home", "Index", new { }, new { @class = "btn btn-success" })


<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.FirstName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.MiddleName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.LastName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.DOB)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.MobileNo)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Address)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Salary)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.DesignationName)
		</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.FirstName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.MiddleName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.LastName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.DOB)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.MobileNo)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Address)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Salary)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.DesignationName)
			</td>
		</tr>
	}

</table>
