@model IEnumerable<Practical_12_Test_3.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Employees</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesignationId)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DesignationId)
        </td>
    </tr>
}

</table>


<div class="text-warning font-monospace" style="font-size:20px"> Various Functionalities : </div>


<div>

	@Html.ActionLink("Add Some Data in Tables", "InsertSomeDefaultData", string.Empty, new { @class = "btn btn-success my-2 mx-2" })
	@Html.ActionLink("Fetch The EmployeePer View", "FetchTheEmployeePerDesignation", string.Empty, new { @class = "btn btn-success my-2 mx-2" })
	@Html.ActionLink("Fetch some data", "Query3", string.Empty, new { @class = "btn btn-success my-2 mx-2" })
	@Html.ActionLink("Show The data from View", "CreateViewAndShowDataOfThatView", string.Empty, new { @class = "btn btn-success my-2 mx-2" })
	@Html.ActionLink("Create Stored Procedure for Designation Table", "CreateTheStoreProcedureForInsertInDesignationTable", string.Empty, new { @class = "btn btn-success my-2 mx-2" })
	@Html.ActionLink("Create Stored Procedure for Employee Table", "CreateTheStoreProcedureForInsertInEmployeeTable", string.Empty, new { @class = "btn btn-success my-2 mx-2" })
	@Html.ActionLink("Designation Which Have More than One Employee", "DesignationWhichHaveMoreThanOneEmployee", string.Empty, new { @class = "btn btn-success my-2 mx-2" })
	@Html.ActionLink("Get The Data Which are sorted by Date of birth", "CreateStoredProcedureAndWhichGivesSortDatabyDOB", string.Empty, new { @class = "btn btn-success my-2 mx-2" })
	@Html.ActionLink("Get the data which are sorted by First Name", "CreateStoredProcedureAndWhichGivesSortDatabyFirstName", string.Empty, new { @class = "btn btn-success my-2 mx-2" })
	@Html.ActionLink("Truncate table", "Truncate", string.Empty, new { @class = "btn btn-danger" })
    @Html.ActionLink("Truncate table", "Truncate",string.Empty,new { @class = "btn btn-danger" })
	@Html.ActionLink("Find Max Salary Employees", "MaxSalaryEmployees", string.Empty, new { @class = "btn btn-success" })
	@Html.ActionLink("create clustered index", "CreateClustredIndex", string.Empty, new { @class = "btn btn-success" })

</div>
